@model IEnumerable<TodoApi.Models.TodoItem>
@{
    ViewData["Title"] = "GetAll";
}

<h2>Get All Tasks</h2>

@foreach (var task in Model)
{
    <p>@task.Name - @task.IsComplete - <a asp-action="Edit" asp-route-id="@task.Id">Edit</a></p>
}